<header class="header bg-dark text-light py-3">
  <div class="d-flex align-items-center">
    <img src="../../../assets/logo.png" alt="Logo" class="mr-2" style="height: 50px;">
    <span class="logo-text">VOIP</span>
  </div>
  <nav class="navbar navbar-expand-md navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a href="#" class="nav-link">TUTORIAL</a></li>
        <li class="nav-item"><a href="#" class="nav-link">HOME</a></li>
        <li class="nav-item"><a href="#" class="nav-link">CONTATO</a></li>
      </ul>
    </div>
  </nav>
  <div class="d-flex align-items-center">
    <button type="button" pButton pRipple (click)="menu.toggle($event)" class="menu-button btn btn-light btn-lg d-none d-sm-block">
      <span class="button-label">Perfil</span>
    </button>
    <p-menu #menu [popup]="true" [model]="items" class="menu-right"></p-menu>
  </div>
</header>
