.header {
    background-color: #464646;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    margin-bottom: 10px;
    height: 10vh;
  }

  .logo {
    display: flex;
    align-items: center;
  }

  .logo img {
    height: 50px;
    margin-right: 20px;
  }

  .logo-text {
    color: #000000;
    font-size: 20px;
  }

  
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .nav-item {
    margin: 0 10px;
  }

  .nav-item a {
    color: #7581EC;
    text-decoration: none;
    font-size: 16px;
  }
  
  .menu-button {
    margin-top: 5px;
    margin-right: 5px;
    border-radius: 50%;
    max-width: 70px;
    height: 70px;
    background-color: #E1E4FF;
    border: none;
  }

  .button-label {
    align-self: center; /* Centraliza verticalmente */
    color: #7581EC;
    font-size: 12px;
    text-align: center;
    font-weight: 400;
  }