<div class="container">
  <h1 class="text-center">Meus áudios</h1>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Formato</th>
          <th>Data de Compra</th>
          <th>Player</th>
          <th>Download</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let audio of audios">
          <td>{{ audio.nome }}</td>
          <td>{{ audio.formato }}</td>
          <td>{{ audio.dataCompra | date:'dd/MM/yyyy' }}</td>
          <td>
            <audio controls *ngIf="audio.url" preload="none">
              <source [src]="audio.url" type="audio/wav">
            </audio>
          </td>
          <td>
            <a [href]="audio.url" [download]="audio.download">Download</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>