<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h4>Como criar uma boa URA ou audio para o seu business</h4>
    </div>
    <div class="col-12">
      <div class="iframe-container">
        <iframe
          src="https://www.youtube.com/embed/n7ZbJk1qgks"
          title="Carros na Estrada | Trailer Oficial Dublado | Disney+"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-12">
      <p>
        Uma boa URA ou audio pode fazer diferença nas vendas da sua empresa e
        melhora a qualidade do atendimento aos seus clientes, lembre-se das
        pontuações e acentos nas palavras fazem total diferença na coerencia e
        sentido da sua mensagem, pois nos peque nos detalhes muda a qualidade do
        seu business.
      </p>
    </div>
  </div>
</div>
