// Importe a fonte Inter do Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

// Defina a fonte padrão do seu projeto como Inter
$font-family-sans-serif: 'Inter', sans-serif;

// Defina a fonte e o estilo padrão para todo o seu projeto
* {
  font-family: $font-family-sans-serif;
  font-style: normal;
  font-weight: 400;
}

