<p-dialog header="Métodos de Pagamento" [(visible)]="visible" [modal]="true" [responsive]="true"
  [style]="{width: '500px'}" (onHide)="hide()">
  <div class="payment-modal-container">
    <div class="payment-options">
      <h2>Opções de Pagamento</h2>
      <div class="payment-radio">
        <label>
          <input type="radio" name="paymentOption" value="pix" [(ngModel)]="selectedPaymentOption" />
          PAGUE VIA PIX
        </label>
      </div>
      <div class="payment-radio">
        <label>
          <input type="radio" name="paymentOption" value="boleto" [(ngModel)]="selectedPaymentOption" />
          BOLETO
        </label>
      </div>
      <div class="payment-radio">
        <label>
          <input type="radio" name="paymentOption" value="creditCard" [(ngModel)]="selectedPaymentOption" />
          Cartão de Crédito
        </label>
      </div>
      <div class="payment-radio">
        <label>
          <input type="radio" name="paymentOption" value="paypal" [(ngModel)]="selectedPaymentOption" />
          Paypal
        </label>
      </div>
    </div>
    <div class="payment-summary">
      <h2>Resumo</h2>
      <div class="summary-card">
        <p>Valor da Gravação: {{ recordingValue }}</p>
        <p>Formato: {{ recordingFormat }}</p>
        <p>Valor Total: {{ totalValue }}</p>
      </div>

    </div>
  </div>


  <div class="fancy-checkbox">
 
    <label for="chkbox">Estou ciente e concordo com os termos e condições de venda</label>
    <input type="checkbox" id="chkbox">
  </div>
  <button pButton type="button" label="Finalizar Compra" class="p-button-primary"></button>

</p-dialog>